Repository SalesforceFoundation/OutboundFundsModuleNPSP, pull requests merged in 2021-03, with the labels that each got.

#33 [W-8885816] OFM-NPSP: Automerge major release branches
  cumulusci.yml
Labels: no QE needed, ready to merge; waiting for merge freeze 🧊🧊🧊, 🎯 this sprint

#29 Robot - Adding Funding Program and Funding Request Tests
  .cspell.json
  cumulusci.yml
  robot/OutboundFundsNPSP/doc/Keywords.html
  robot/OutboundFundsNPSP/resources/BaseObjects.py
  robot/OutboundFundsNPSP/resources/FundingProgramPageObject.py
  robot/OutboundFundsNPSP/resources/FundingRequestPageObject.py
  robot/OutboundFundsNPSP/resources/OutboundFundsNPSP.py
  robot/OutboundFundsNPSP/resources/OutboundfundsNPSP.robot
  robot/OutboundFundsNPSP/resources/locators_50.py
  robot/OutboundFundsNPSP/resources/locators_51.py
  robot/OutboundFundsNPSP/tests/browser/FundingProgram/FundingProgram.robot
  robot/OutboundFundsNPSP/tests/browser/FundingRequest/FundingRequest.robot
Labels: robot test 🤖, 🎯 this sprint

#35 Robot - Assign GAU Page Layout to System Administrator
  cumulusci.yml
  robot/OutboundFundsNPSP/resources/layouts/applications/outfunds__Outbound_Funds.app-meta.xml
  robot/OutboundFundsNPSP/resources/layouts/package.xml
  robot/OutboundFundsNPSP/resources/layouts/profiles/Admin.profile-meta.xml
Labels: Ready for QE, needs RE review :lock:, robot test 🤖

#32 [Robot] Test for GAU Expenditures
  robot/OutboundFundsNPSP/resources/OutboundFundsNPSP.py
  robot/OutboundFundsNPSP/resources/OutboundfundsNPSP.robot
  robot/OutboundFundsNPSP/resources/locators_51.py
  robot/OutboundFundsNPSP/tests/browser/GAUExpenditure/GAUExpenditure.robot
Labels: robot test 🤖

#36 [Robot] Add Requirement Test and namespace fixes for running tests in 2gp org
  .cspell.json
  robot/OutboundFundsNPSP/doc/Keywords.html
  robot/OutboundFundsNPSP/resources/FundingProgramPageObject.py
  robot/OutboundFundsNPSP/resources/FundingRequestPageObject.py
  robot/OutboundFundsNPSP/resources/OutboundFundsNPSP.py
  robot/OutboundFundsNPSP/resources/OutboundfundsNPSP.robot
  robot/OutboundFundsNPSP/resources/locators_51.py
  robot/OutboundFundsNPSP/tests/browser/FundingProgram/FundingProgram.robot
  robot/OutboundFundsNPSP/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFundsNPSP/tests/browser/GAUExpenditure/GAUExpenditure.robot
  robot/OutboundFundsNPSP/tests/browser/Requirements/Requirements.robot
Labels: robot test 🤖

#37 [Robot] Add Disbursement on an awarded Funding Request
  robot/OutboundFundsNPSP/doc/Keywords.html
  robot/OutboundFundsNPSP/resources/OutboundFundsNPSP.py
  robot/OutboundFundsNPSP/resources/locators_51.py
  robot/OutboundFundsNPSP/tests/browser/FundingRequest/FundingRequest.robot
Labels: robot test 🤖

#39 [Robot] Fixing robot lint errors and warnings
  robot/OutboundFundsNPSP/doc/Keywords.html
  robot/OutboundFundsNPSP/resources/OutboundfundsNPSP.robot
  robot/OutboundFundsNPSP/tests/browser/FundingProgram/FundingProgram.robot
  robot/OutboundFundsNPSP/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFundsNPSP/tests/browser/GAUExpenditure/GAUExpenditure.robot
  robot/OutboundFundsNPSP/tests/browser/Requirements/Requirements.robot
  robot/OutboundFundsNPSP/tests/create_contact.robot
Labels: robot test 🤖

#38 [Robot] Add Disbursement via Related list
  robot/OutboundFundsNPSP/resources/OutboundFundsNPSP.py
  robot/OutboundFundsNPSP/resources/OutboundFundsNPSP.robot
  robot/OutboundFundsNPSP/resources/locators_51.py
  robot/OutboundFundsNPSP/tests/browser/FundingProgram/FundingProgram.robot
  robot/OutboundFundsNPSP/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFundsNPSP/tests/browser/GAUExpenditure/GAUExpenditure.robot
  robot/OutboundFundsNPSP/tests/browser/Requirements/Requirements.robot
Labels: robot test 🤖

#44 Robot- Verify GAU Expenditure on Paid Disbursement
  robot/OutboundFundsNPSP/resources/OutboundFundsNPSP.robot
  robot/OutboundFundsNPSP/tests/browser/GAUExpenditure/GAUExpenditure.robot
Labels: robot test 🤖
